@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, li{
    list-style: none;
}
/* 전체영역 */
.container{
    width: 1200px;
    height: 700px;
    margin: auto;
    background-color: antiquewhite;
}
header{
    position: relative;
    width: 100%;
    height: 100px;
    background-color: aquamarine;
}
.headerLogo{   
    width: 200px;
    height: 100%;
    background-color: rgb(251, 212, 212);
    float: left;
}
.headerMenu{
    position: absolute;
    top: 50%;
    right: 20px;
    /* translateY Y를 해주어야  오른쪽 아래로 간다 */
    transform: translateY(-50%);
    width: 600px;
    height: 50px;
    background-color: aquamarine;
}
.headerMenu ul{
    text-align: center;
    height: 100%;
}
.headerMenu ul li{
    width: calc(100% / 4);
    background-color: rgb(167, 167, 243);
    float: left;
    line-height: 50px;
}
/* 메인 */
/* 메인상단 */
.imgarea{
    width: 100%;
    height: 300px;
    background-color: rgb(254, 139, 177);
}
/* 메인하단 */
.main_bottom{
    width: 100%;
    height: 200px;
    background-color: rgb(161, 161, 248);
}
.announce, .banner, .straight{
    float: left;
    width: calc(100% / 3);
    height: 100%;
    background-color: rgb(160, 252, 212) ;
}
/* 하단 */
footer{
    width: 100%;
    height: 100px;
}
.footerLogo, .copyright, .sns{
    float: left;
    width: calc(100% / 3);
    height: 100%;
    background-color: rgb(242, 199, 199);
}